<header>
    <app-navbar></app-navbar>

    <h2 class="titulo1">
        Ayala Esteban R. es docente ,músico, violinista y guitarrista. Actualmente ejerce como profesor en distintas instituciones secundarias
        participa y en proyectos de tango en la Escuela de música Avellaneda.
          
    </h2>
</header>
<section class="section1">
    <div class="acomodar-img">
      <div data-aos="fade-up" data-aos-delay="100" class="section1-img">
        
      </div>
      </div>
      <div class="section1-texto" id="sobre">
        <div class="perfil">
        <h2 class="titulo2">
            Ayala Esteban trabaja y brinda shows por Cap. Fed y Alrededores.
            En estos momentos da clases particulares en la localidad de Lanus.
            </h2>
            <p class="titulo3">Para saber más. visita su instagram @teby.music</p>
        
        
        </div> 
      </div>
    
    
    </section>
