<footer class="section footer-section" id="contacto" data-aos="zoom-in">
    <div class="container ">
      <div class="row mb-4 fat">
        <div class="col-md-3 mb-3 texto">
          <h3>Links Rapidos</h3>
          <ul class="list-unstyled link">
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#sobre">Sobre mí</a></li>
           <li><a href="#servicio">Servicios</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-3">
          <h3>Plataformas</h3>
          <ul class="list-unstyled link texto">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Youtube</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-3 pr-md-5 contact-info texto">
          <h3>Contact Info</h3>
          <p><span class="d-block">Direccion:</span> <span> Buenos Aires, Argentina</span></p>
          <p><span class="d-block">Email:</span> <span> @teby.music</span></p>
        </div>
        <div class="col-md-3 mb-3 texto">
          <h3>Suscribete</h3>
          <p>Suscribete para mas novedades</p>
          <form action="#" class="footer-newsletter">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your email...">
              <button type="submit" class="btn"><span class="fa fa-paper-plane"></span></button>
            </div>
          </form>
        </div>
      </div>
      <div class="row bordertop text-center pt-5 texto">
        <p class="col-md-12">&copy; Copyright 2020. All Rights Reserved. <br> Designed &amp; Developed by <a href="https://www.instagram.com/teby.music/">Ayala Esteban</a></p>
          
        <p class="col-md-12 social mt-4">
          <a href="https://www.facebook.com/EstebanProfMus" target="_blank"><span style="font-size: 40px;" class="fab fa-facebook-square"></span></a>
          <a href="https://www.instagram.com/teby.music/" target="_blank"><i style="font-size: 40px;" class="fab fa-instagram-square"></i></a>
          <a href="https://api.whatsapp.com/send?phone=+541123216214" target="_blank"><i style="font-size: 40px;" class="fab fa-whatsapp-square"></i></a>
                
        </p>
      </div>
    </div>
  </footer>
  