
<header class="encabezado" [ngStyle]="{'height':screenHeight + 'px'}" id="inicio">
    <app-navbar></app-navbar>
<div class="enca">
    <h2 class="titulo animate__animated animate__fadeIn animate__faster">BIENVENIDO<br> A TUS CLASES</h2>
    <h2 class="subtitulo animate__animated animate__fadeIn animate__fast">Ayala Esteban</h2>
    <h1 class="texto animate__animated animate__fadeIn animate__slow">
        Clases de violin. Para todos los<br>
         estilos y edades. Ingresos a orquestas <br>
         y conservatorios. Metodos como  <br>
        suzuki, Laourex, Sevcick, etc.
    </h1>

</div>
<a class="botones d-flex align-items-center" data-aos="fade-up" data-aos-delay="100" target="_blank" href="https://api.whatsapp.com/send?phone=+541123216214">
  <button class="contact contactos mb-3" mat-raised-button>Llama ya ! Y comienza</button>
  <button class="contact2 contactos" mat-stroked-button>Escribeme</button>
</a>
</header>

  
  
  
  
  