<header>
<app-navbar></app-navbar>

</header>

<div class="section1">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="../../../assets/online01.png" class="card-img-top" alt="...">
            
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../assets/online02.png" class="card-img-top" alt="...">
            
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../assets/online03.png" class="card-img-top" alt="...">
            
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../assets/online04.jpeg" class="card-img-top" alt="...">
            
          </div>
        </div>
      </div>
</div>

